[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "Presentations/plat_comp/reveal.js"]
	path = Presentations/plat_comp/reveal.js
	url = https://github.com/hakimel/reveal.js.git
